# object files, libraries, etc
*.[8qkv5967o]
*.obj
[8qkv965o].out
[8qkv965o].emu
obj.out
obj.map
vc*.pdb
*.a

# yacc artifacts
y.output
y.tab.[ch]
y.debug

/contrib/
/grid/
/tmp/
/usr/

/keydb/keys
/keydb/countersigned
/keydb/signed
/keydb/signerkey

/appl/**/*.dis
/appl/**/*.sbl

# generated C headers for built-in modules
/libinterp/cryptmod.h
/libinterp/drawmod.h
/libinterp/freetypemod.h
/libinterp/ipintsmod.h
/libinterp/keyring.h
/libinterp/keyringif.h
/libinterp/loadermod.h
/libinterp/mathmod.h
/libinterp/runt.h
/libinterp/sysmod.h
/libinterp/tkmod.h

/limbo/runt.h

# emu build artifacts
/emu/*/*.root.[ch]
/emu/*/emu.c
/emu/*/errstr.h
/emu/*/srv.h
/emu/*/srvm.h

/emu/Nt/*.map
/emu/Nt/*.exe

# initial mk from makemk.sh
/utils/mk/mk

# no binaries are committed for any of the netbsd ports
# can be deleted if wildcard from the comment below is enabled
/NetBSD/*/bin/

# preserve the patterns from .hgignore, though perhaps all binaries
# should be deleted and ignored with:
# /[A-Z]*/*/bin/

/[A-Z]*/*/bin/?[acl]
/[A-Z]*/*/bin/5coff
/[A-Z]*/*/bin/5cv
/[A-Z]*/*/bin/acid
/[A-Z]*/*/bin/asm
/[A-Z]*/*/bin/data2s
/[A-Z]*/*/bin/emu
/[A-Z]*/*/bin/limbo

/Nt/*/bin/?[acl].exe
/Nt/*/bin/5coff.exe
/Nt/*/bin/5cv.exe
/Nt/*/bin/acid.exe
/Nt/*/bin/asm.exe
/Nt/*/bin/data2s.exe
/Nt/*/bin/emu.exe
/Nt/*/bin/ftl.exe
/Nt/*/bin/iar.exe
/Nt/*/bin/idea.exe
/Nt/*/bin/inm.exe
/Nt/*/bin/kprof.exe
/Nt/*/bin/ksize.exe
/Nt/*/bin/kstrip.exe
/Nt/*/bin/limbo.exe
/Nt/*/bin/md5sum.exe
/Nt/*/bin/mkppcimage.exe
/Nt/*/bin/ms2.exe
/Nt/*/bin/ndate.exe
/Nt/*/bin/ntsrv.exe
/Nt/*/bin/sqz.exe
/Nt/*/bin/srclist.exe
/Nt/*/bin/styxtest.exe

# ignore 9front, OpenBSD and Inferno native binaries
/9front/*/bin/*
/OpenBSD/*/bin/*
/Inferno/*/bin/*
/Inferno/*/pbs
/os/pc64/ipc64
/Irix/*/bin/*
/Linux/*/bin/*
/Solaris/*/bin/*
/Irix/*/bin/*
/Linux/*/bin/*
/Solaris/*/bin/*
/Irix/*/bin/*
/Linux/*/bin/*
/Solaris/*/bin/*

# ignore dis files
/dis/**/*.dis
/acme/dis/*.dis
/acme/**/*.dis
/os/init/*.dis
/os/init/*.sbl

# ignore generated files
/limbo/y.tab.c
/os/pc64/pc64.root.[sh]
/os/pc64/pc64.c

# ignore the keydb files from version control
/keydb/keys

# ignore any *.patch files
*.patch

# ignore os/boot generated files
/Inferno/386/9bootfat
/Inferno/386/9boothyb
/Inferno/386/9bootiso
/Inferno/386/9bootpxe
/Inferno/386/mbr
/Inferno/386/bootia32.efi
/Inferno/386/bootx64.efi
/Inferno/386/efiboot.fat
/os/boot/efi/bootia32.efi
/os/boot/efi/bootx64.efi
/os/boot/efi/bootx64.out
/os/boot/efi/efiboot.fat
/os/boot/pc/9bootfat
/os/boot/pc/9boothyb
/os/boot/pc/9bootiso
/os/boot/pc/9bootpxe
/os/boot/pc/mbr
/os/boot/pc/pbs

# ignore directories created by lib/emptydirs
/AIX/power/bin
/AIX/power/include
/AIX/power/lib
/FreeBSD/386/bin
/FreeBSD/386/include
/FreeBSD/386/lib
/Inferno/386/bin
/Inferno/386/include
/Inferno/386/lib
/Inferno/amd64/bin
/Inferno/amd64/include
/Inferno/amd64/lib
/Inferno/arm/bin
/Inferno/arm/include
/Inferno/arm/lib
/Inferno/mips/bin
/Inferno/mips/include
/Inferno/mips/lib
/Inferno/power/bin
/Inferno/power/include
/Inferno/power/lib
/Inferno/sparc/bin
/Inferno/sparc/include
/Inferno/sparc/lib
/Irix/mips/bin
/Irix/mips/include
/Irix/mips/lib
/Linux/386/bin
/Linux/386/include
/Linux/386/lib
/Linux/arm/bin
/Linux/arm/include
/Linux/arm/lib
/MacOSX/386/bin
/MacOSX/386/include
/MacOSX/386/lib
/MacOSX/power/bin
/MacOSX/power/include
/MacOSX/power/lib
/NetBSD/386/bin
/NetBSD/386/include
/NetBSD/386/lib
/NetBSD/power/bin
/NetBSD/power/include
/NetBSD/power/lib
/Nt/386/lib
/OpenBSD/386/bin
/OpenBSD/386/include
/OpenBSD/386/lib
/OpenBSD/amd64/bin
/OpenBSD/amd64/include
/OpenBSD/amd64/lib
/OpenBSD/arm/bin
/OpenBSD/arm/include
/OpenBSD/arm/lib
/Plan9/386/bin
/Plan9/386/include
/Plan9/386/lib
/Plan9/arm/bin
/Plan9/arm/include
/Plan9/arm/lib
/Plan9/mips/bin
/Plan9/mips/include
/Plan9/mips/lib
/Plan9/power/bin
/Plan9/power/include
/Plan9/power/lib
/Plan9/sparc/bin
/Plan9/sparc/include
/Plan9/sparc/lib
/Solaris/sparc/bin
/Solaris/sparc/include
/Solaris/sparc/lib
/keydb/countersigned
/keydb/countersigned
/keydb/signed
/keydb/signed
/mail
/man/lib/man
/man/lib/permind
/mnt
/mnt/9win
/mnt/acme
/mnt/arch
/mnt/diary
/mnt/factotum
/mnt/gossip
/mnt/icontact
/mnt/ilog
/mnt/incall
/mnt/isubs
/mnt/itrack
/mnt/keys
/mnt/keysrv
/mnt/quiz
/mnt/registry
/mnt/rstyxreg
/mnt/schedule
/mnt/vmail
/mnt/wm
/mnt/wrap
/mnt/wsys
/n
/n/cd
/n/client
/n/client/chan
/n/client/dev
/n/disk
/n/dist
/n/dump
/n/ftp
/n/gridfs
/n/kfs
/n/local
/n/rdbg
/n/registry
/n/remote
/services/logs
/services/ppp
/src
/tmp
/usr/inferno/charon
/usr/inferno/keyring
/usr/inferno/tmp
/services/collab/export/services
/services/collab/export/collab
/acme/dis
/dis/acme
/dis/alphabet
/dis/alphabet/abc
/dis/alphabet/fs
/dis/alphabet/grid
/dis/alphabet/main
/dis/alphabet/auth
/dis/alphabet/auth/proto
/dis/auth/proto
/dis/auxi
/dis/avr
/dis/charon
/dis/collab
/dis/collab/clients
/dis/collab/lib
/dis/collab/servers
/dis/db
/dis/demo
/dis/demo/camera
/dis/demo/chat
/dis/demo/cpupool
/dis/demo/lego
/dis/demo/ns
/dis/demo/odbc
/dis/demo/spree
/dis/demo/whiteboard
/dis/disk
/dis/ebook
/dis/fs
/dis/games
/dis/grid
/dis/grid/demo
/dis/grid/lib
/dis/install
/dis/ip
/dis/ip/nppp
/dis/ip/ppp
/dis/lego
/dis/lib
/dis/lib/convcs
/dis/lib/crypt
/dis/lib/encoding
/dis/lib/ftree
/dis/lib/ida
/dis/lib/mash
/dis/lib/print
/dis/lib/spki
/dis/lib/strokes
/dis/lib/styxconv
/dis/lib/usb
/dis/lib/w3c
/dis/math
/dis/mpc
/dis/mpeg
/dis/ndb
/dis/palm
/dis/sh
/dis/spki
/dis/spree
/dis/spree/clients
/dis/spree/engines
/dis/spree/lib
/dis/svc/httpd
/dis/svc/webget
/dis/tiny
/dis/usb
/dis/wm
/dis/wm/brutus
/dis/wm/vixen
/dis/zip

# ignore the kernels built
/Inferno/386/ipc
/Inferno/amd64/ipc64

os/init/*.dis
os/init/*.sbl
os/pc64/pc64.root.s


